<div class="container section main-section">
    <div class="row">
        <div class="col">
            <div class="form-group">
                * Solo funciona con staff, seguimiento, o administradores de Reto Urbano
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Ingresa tu email" #emailInput>
                    <button class="btn btn-outline-secondary" type="button" id="button-addon1"
                        (click)="recovery(emailInput.value)">Recuperar</button>
                </div>
            </div>
            @if (visibleAlert) {
                <div class="alert alert-danger" role="alert">
                    {{mensaje}}
                </div>
            }
        </div>
    </div>
</div>