<div *ngIf="abiertas; else abiertasTmpl" class="alert alert-success" role="alert" style="margin-bottom: 2em;">
    Inscripciones abiertas desde {{avance?.fecha_apertura | date:'dd/MM/yyyy h:mm:ss a'}}
</div>

<div class="progress text-center" style="margin-bottom: 2em;">
    <div class="progress-bar bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" [style]=avanceStyle>
    </div>
</div>

<ng-template #abiertasTmpl>
    <div class="alert alert-primary" role="alert">
        Fecha de inicio de inscripciones: {{avance?.fecha_apertura | date:'dd/MM/yyyy h:mm:ss a'}}
    </div>
</ng-template>

<div *ngIf="cerradas && abiertas; else fechaVencida">
    <div class="alert alert-danger" role="alert">
        Las inscripciones se cerrarón el {{avance?.fecha_maxima | date:'dd/MM/yyyy h:mm:ss a'}} :(
    </div>
</div>

<ng-template #fechaVencida>
    <div *ngIf="abiertas">
        <div class="alert alert-warning" role="alert">
            Último día para inscribirte: {{avance?.fecha_maxima | date:'dd/MM/yyyy h:mm:ss a'}}
        </div>

        <div *ngIf="showForm && lugaresDisponibles">
            <hr>
            <div class="section row">
                <div class="col-lg-12 col-md-12">
                    <app-registro-dinamico></app-registro-dinamico>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<h1 *ngIf="!lugaresDisponibles" class="text-center">Ya no hay lugares lugares disponibles</h1>