<section class="container section main-section">
    <h1>+ Info - {{event.city_label}}</h1>
    <h1>{{event.title}}</h1>
    <h2><i class="bi bi-balloon-fill"></i> ¡Reto Urbano {{event.event_year}} está por comenzar!</h2>
    <p class="duration-info" *ngIf="getEventDurationDays() > 0">
        <i class="bi bi-calendar-check"></i> <strong>Duración:</strong> {{getEventDurationDays()}} días
    </p>
    <hr>
    <ul>
        <li>
            <h3>Costos</h3>
            <app-tabla-costos [event]="event"></app-tabla-costos>
        </li>
        <li>
            <h3>1. ¡Recuerda la importancia de asegurar tu lugar!</h3>
            <p><i class="bi bi-lock"></i>Para asegurar tu lugar debes realizar un anticipo de
                <b>${{event.minimum_payment_mxn}}
                    MXN</b>
            </p>
            <p>Realiza tu depósito a:</p>
            <p *ngIf="event.bank_name">
                <i class="bi bi-bank"></i> {{event.bank_name}}
            </p>
            <p *ngIf="event.account_holder">
                <i class="bi bi-file-person"></i> {{event.account_holder}}
            </p>
            <p *ngIf="event.bank_account">
                <i class="bi bi-credit-card-2-front"></i> No. de tarjeta: {{event.bank_account}}
            </p>
            <p *ngIf="event.bank_clabe">
                <i class="bi bi-credit-card-2-back"></i> CLABE: {{event.bank_clabe}}
            </p>
            <p *ngIf="event.contact_email">
                <i class="bi bi-envelope-at"></i> Una vez realizado tu pago, Es importante que nos notifiques tus
                dep&oacute;sitos en
                <b>{{event.contact_email}}</b> o al los whatsapps <b><a href="https://wa.me/52{{event.contact_phone_1}}"
                        target="_blank">{{event.contact_phone_1}}</a></b>
                y/o
                <b>{{event.contact_phone_2}}</b> enviando tus
                fichas de depósito y el nombre de la persona inscrita.
            </p>
            <p><b><i class="bi bi-exclamation-triangle-fill"></i> Sin anticipo, tu lugar no está garantizado. Tienes
                    como fecha
                    límite el 5 de julio para poder realizarlo</b>
            </p>
        </li>
        <li>
            <h3>2. <i class="bi bi-car-front-fill"></i> Día de llegada:</h3>
            <p *ngIf="event.start_at"><i class="bi bi-calendar-event"></i> {{event.start_at | date}}</p>
            <p *ngIf="event.start_at"><i class="bi bi-clock"></i> {{event.start_at | date:'shortTime'}}
            </p>
            <p *ngIf="event.arrival_place"><i class="bi bi-geo"></i> <b>Punto de encuentro:</b>
                {{event.arrival_place}}</p>
            <iframe *ngIf="event.arrival_coordinates" [src]="getSafeUrl(event.arrival_coordinates)" width="600"
                height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

            <div class="alert alert-warning" role="alert" *ngIf="event.arrival_note">
                {{event.arrival_note}}
            </div>
        </li>
        <li>
            <h3>3. <i class="bi bi-backpack2"></i> Viaje Misionero:</h3>
            <p>Durante este tiempo se llevará acabo un pequeño viaje misionero.</p>
            <p>Es importante mencionar que este viaje es una parte fundamental del campamento, ya que es el momento en
                el que los participantes pueden poner en práctica lo aprendido y vivir una experiencia de servicio y
                amor hacia los demás.</p>
            <p *ngIf="event.cruzada_lugar">Este año el viaje misionero se realizará en {{event.cruzada_lugar}}</p>
            <p>* El viaje misionero es un viaje de ida y vuelta y los costos están dentro del costo total del
                campamento.</p>
            <p>** El día de llegada se podrá firmar una forma de autorización para menores de edad.</p>
        </li>
        <li>
            <h3>4. <i class="bi bi-car-front-fill"></i> Día de salida:</h3>
            <p *ngIf="event.end_at"><i class="bi bi-calendar-event"></i> {{event.end_at | date}}</p>
            <p *ngIf="event.end_at"><i class="bi bi-clock"></i> {{event.end_at | date:'shortTime'}}
            </p>
            <p *ngIf="event.departure_place"><i class="bi bi-geo"></i> <b>Lugar de entrega:</b>
                {{event.departure_place}}</p>
            <iframe *ngIf="event.departure_coordinates" [src]="getSafeUrl(event.departure_coordinates)" width="600"
                height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <p *ngIf="event.departure_note">{{event.departure_note}}</p>
        </li>
    </ul>
</section>