<div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
    <app-navbar></app-navbar>

    <main class="gradietne text-center">
        <img class="img-fluid" src="assets/img/main/RU_WANDF_2025.png">
    </main>
</div>

<!--div class="main">
    <div id="introduccion" class="section pt-o">
        <div class="container">
            <div class="row">
                <div class="text-center col-md-12">
                    <h2>RETO URBANO</h2>
                    <h1>EL MISMO AYER, HOY Y SIEMPRE</h1>
                    <h2>28 de julio - 1 de agosto, 2024</h2>
                </div>
                <div class="text-center col-md-12 section">
                    <app-registro-avance [showForm]="false"></app-registro-avance>
                </div>
                <div class="text-center col-md-12 section">
                    <a routerLink="/registro" class="btn btn-danger">Ir a inscripciones</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div id="mensaje" class="section pt-o">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <figure>
                        <img src="assets/img/richz.jpg" class="img-fluid">
                        <figcaption>Richz Volta - Fundador Reto Urbano  since 2009, Youth with a Mission Pachuca.</figcaption>
                    </figure>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <blockquote class="blockquote">
                        <b>Reto Urbano</b>
                        <footer class="blockquote-footer">Richz Volta </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div id="quienes" class="section pt-o">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>¿Qué es Reto Urbano?</h1>
                    <p>Reto urbano es un Campamento/Entrenamiento, ministerio de Juventud con una Misión Pachuca.</p>
                    <p>Reto es un entrenamiento para adolescentes y jovenes de 14 a 21 años que quieran dar un paso mas
                        profundo en su relación con Dios. RU es un campamento donde queremos que conozcan a Dios para
                        darlo a conocer, donde queremos que reciban revelación de la palabra pero al mismo tiempo
                        ayudarte a formar tu caracter.</p>
                    <p><b>En RU te retaremos a vivir y obedecer radicalmente, renovando tu manera de pensar para ser un
                            fiel seguidor de Cristo.</b></p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1>Misión</h1>Nuestra Mision es dar valor a los adolescentes y jovenes, promoviéndoles y
                    animándoles a ser influencia en la sociedad, guiándoles a encontrar sus identidad, propósito,
                    misión, visión y vocación a través de un Discipulado integral, específicamente en las 4 areas de
                    desarrollo, basado en el ejemplo de Jesus en Lucas:<blockquote class="blockquote">“Y Jesús crecía en
                        sabiduría y en estatura, y en gracia para con Dios y los hombres.”<footer
                            class="blockquote-footer">Lucas 2:52</footer>
                    </blockquote>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1>Visión</h1>
                    <p>Ver una generación transformada a través de una Cosmovision Bíblica, teniendo como misión ser
                        influencia en las 7 esferas de la sociedad y así presentar el evangelio de Cristo en su vida,
                        trabajo y vocación. Creando una generacion de misioneros que enseñan a otros y continuan la gran
                        comisión, formados en caracter, entendimiento Bíblico y guiados por el Espíritu Santo.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="campa" class="section pt-o">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Campamento</h1>
                </div>
                <div class="text-center col-md-6">
                    <h4>Conferencias y Talleres</h4><img alt="..." class="img-rounded img-fluid"
                        src="assets/img/media/conferencia.a5f3122a.jpg" style="width: 100%;">
                    <p>En RU estudiamos la palabra de Dios a través de buenos expositores nacionales e internacionales,
                        enfocados en llevarte a una relación intima con Dios y talleres que te darán entrenamiento y
                        recursos prácticos para llevar la gran comisión.</p>
                </div>
                <div class="text-center col-md-6">
                    <h4>Entrenamiento</h4><img alt="..." class="img-rounded img-fluid"
                        src="assets/img/media/temas.129b57fd.jpg" style="width: 100%;">
                    <p>Las ARTES son recurso importante y a la vez divertido para poder llevar el evangelio, es por eso
                        que usamos Coreografía, Música, dramas y artes cirquences para salir y llevar el evangelio.
                        Durante la semana serás entrenado en alguna de estas areas.</p>
                </div>
                <div class="text-center col-md-6">
                    <h4>Adoración, Oración e Intercesión</h4><img alt="..." class="img-rounded img-fluid"
                        src="assets/img/media/worship.4b690b71.jpg" style="width: 100%;">
                    <p>Durante el campamento tendremos tiempos donde podremos juntos adorar a DIOS como también
                        practicar la oracion intercesora y juntos crear un estilo de vida al estilo de Jesus.</p>
                </div>
                <div class="text-center col-md-6">
                    <h4>Tiempos personales con Dios</h4><img alt="..." class="img-rounded img-fluid"
                        src="assets/img/media/tiempo.ab9e137d.jpg" style="width: 100%;">
                    <p>En el horario de campamento, tendrás tiempos a solas con Dios, donde la finalidad de esto es que
                        tengas cercanía con Dios y puedas crear una disciplina día a día.</p>
                </div>
                <div class="text-center col-md-6">
                    <h4>Evangelismo</h4><img alt="..." class="img-rounded img-fluid"
                        src="assets/img/media/show.1df46f58.jpg" style="width: 100%;">
                    <p>Los últimos 2 días de campamento estarán enfocados en salir y llevar el evangelio.</p>
                </div>
                <div class="text-center col-md-6">
                    <h4>Internacional y bilingüe</h4><img alt="..." class="img-rounded img-fluid"
                        src="assets/img/media/amigos.33ab0a83.jpg" style="width: 100%;">
                    <p>Nuestros campamentos se han caracterizado por recibir jovenes de diferentes países del mundo, la
                        mayoría de Estados Unidos y Centro America, es por eso que toda la comunicación es traducida al
                        ingles y esto nos hace ser un campamento Bilingüe.</p>
                </div>
                <div class="text-center col-md-6">
                    <h4>Convivencia</h4><img alt="..." class="img-rounded img-fluid"
                        src="assets/img/media/oracion.99907104.jpeg" style="width: 100%;">
                    <p>Es tan hermoso ver a jovenes de diferentes lugares unirse y convivir de manera sana, la mayoría
                        de los jovenes de hoy viven con tanta presión y RU se ha convertido en un refugio en donde
                        puedes expresarte, compartir y aprender juntos.</p>
                </div>
                <div class="text-center col-md-6">
                    <h4>Convivencia</h4><img alt="..." class="img-rounded img-fluid"
                        src="assets/img/media/biblia.jpg" style="width: 100%;">
                    <p>También seguiremos con el programa “Una biblia en cada hogar” así que prepárate para entregar
                        biblias casa por casa.</p>
                </div>
                <div class="text-center col-md-12">
                    <h4>Reto Urbano 2021</h4><img alt="..." class="img-rounded img-fluid"
                        src="assets/img/media/ru2021.jpg" style="width: 100%;">
                    <p>También tendremos actividades deportivas, concursos y juegos que harán nuestro campamento muy
                        divertido.</p>
                    <h3>Ven a vivirlo por ti mismo.</h3>
                </div>


            </div>
        </div>
    </div>
    <hr>
    <div id="historia" class="section pt-o">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Historia</h1>
                    <p>En 2009, Dios puso en el corazón del equipo pionero de YWAM Pachuca organizar un entrenamiento
                        tipo campamento con la meta de llevar a los adolescentes a ser Retados a tener una cercanía real
                        con Dios para conocerlo y darlo a conocer. No solo para recibir si no para estar preparado a dar
                        y así convertirse en un discípulo de Cristo.</p>
                    <p>A través de estos años, el Padre nos ha llamado a discipular de manera Integral a cada chico en
                        las 4 areas de desarrollo, tomando el ejemplo de Jesus en Lucas 2:52 “Y Jesús crecía en
                        sabiduría y en estatura, y en gracia para con Dios y los hombres.”</p>
                    <p>No te pierdas nuestros campamentos que en realidad son mas un entrenamiento que te retarán a una
                        vida en relación intima con el Padre.</p>
                </div>
                <div class="col-md-6">
                    <figure>
                        <img alt="..." class="img-rounded img-fluid" src="assets/img/media/23.38ab782f.jpeg"
                            style="width: 100%;">
                        <figcaption>Meghan Dineen - Equipo Pionero</figcaption>
                    </figure>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-6">
                    <figure>
                        <img alt="..." class="img-fluid" src="assets/img/media/menos2.2266a12c.jpg"
                            style="width: 100%;">
                        <figcaption>Reto Urbano</figcaption>
                    </figure>
                </div>
                <div class="col-md-6">
                    <figure>
                        <img alt="..." class="img-fluid" src="assets/img/media/menos1.4e83ad7b.jpg"
                            style="width: 100%;">
                        <figcaption>Reto Urbano</figcaption>
                    </figure>
                </div>
                <div class="col-md-6">
                    <figure>
                        <img alt="..." class="img-fluid" src="assets/img/media/cero.03ddd8eb.jpg"
                            style="width: 100%;">
                        <figcaption>Reto Urbano</figcaption>
                    </figure>
                </div>
                <div class="col-md-6">
                    <figure>
                        <img alt="..." class="img-fluid" src="assets/img/media/cerobis.babefb81.jpg"
                            style="width: 100%;">
                        <figcaption>Reto Urbano</figcaption>
                    </figure>
                </div>
                <div class="col-md-6">
                    <figure>
                        <img alt="..." class="img-fluid" src="assets/img/media/uno.a67c3c92.jpg"
                            style="width: 100%;">
                        <figcaption>Reto Urbano - Mensaje Radical</figcaption>
                    </figure>
                </div>
                <div class="col-md-6">
                    <figure>
                        <img alt="2015" class="img-fluid" src="assets/img/media/dos.f9251e6b.jpg"
                            style="width: 100%;">
                        <figcaption>Reto Urbano - Obediencia Radical (2015)</figcaption>
                    </figure>
                </div>
                <div class="col-md-6">
                    <figure>
                        <img alt="2016" class="img-fluid" src="assets/img/media/tres.dcfba7e5.jpg"
                            style="width: 100%;">
                        <figcaption>Reto Urbano - No de este mundo (2016)</figcaption>
                    </figure>
                </div>
                <div class="col-md-6">
                    <figure>
                        <img alt="2017" class="img-fluid" src="assets/img/media/cuatro.5ffbbe5e.jpg"
                            style="width: 100%;">
                        <figcaption>Reto Urbano - Más de Él, menos de mi (2017)</figcaption>
                    </figure>
                </div>
                <div class="col-md-6">
                    <figure>
                        <img alt="2018" class="img-fluid" src="assets/img/media/cinco.2ac87da5.jpg"
                            style="width: 100%;">
                        <figcaption>Reto Urbano - Soy la voz que clama en el desierto (2018)</figcaption>
                    </figure>
                </div>
                <div class="col-md-6">
                    <figure>
                        <img alt="2019" class="img-fluid" src="assets/img/media/2019.e3c55e36.jpg"
                            style="width: 100%;">
                        <figcaption>RUX - 10mo Aniversario (2019)</figcaption>
                    </figure>
                </div>
                <div class="col-md-6">
                    <figure>
                        <img alt="2021" class="img-fluid" src="assets/img/media/ru2021.jpg"
                            style="width: 100%;">
                        <figcaption>Reto Urbano - Reyes y Sacerdotes (2021)</figcaption>
                    </figure>
                </div>
                <div class="col-md-6">
                    <figure>
                        <img alt="2022" class="img-fluid" src="assets/img/media/retourbano_2022.jpg"
                            style="width: 100%;">
                        <figcaption>Reto Urbano - Obediencia Radical 2 (2022)</figcaption>
                    </figure>
                </div>
                <div class="col-md-6">
                    <figure>
                        <img alt="2023" class="img-fluid" src="assets/img/media/retourbano_2023.jpg"
                            style="width: 100%;">
                        <figcaption>Generación Resistencia (2023)</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="section pt-o" id="fotos">
        <div class="container">
            <div class="row">
                <div class="ml-auto mr-auto col-md-12">
                    <h1>Algunas fotos...</h1>

                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active"><img src="assets/img/media/1.0ef5bf1c.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/2.45441791.jpeg" alt="..."
                                    class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/3.6c5113e5.jpeg" alt="..."
                                    class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/4.c26f32c4.jpeg" alt="..."
                                    class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/5.a6e705ca.jpeg" alt="..."
                                    class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/6.562ce17c.jpeg" alt="..."
                                    class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/7.6b0e3671.jpeg" alt="..."
                                    class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/8.07903f89.jpeg" alt="..."
                                    class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/9.da456690.jpeg" alt="..."
                                    class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/10.6ba5fd42.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/11.106254da.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/12.59ee5962.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/13.c79dc848.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/14.67291eec.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/15.26c2d118.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/16.9560e803.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/17.717b4e16.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/18.6bb61c54.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/19.fe3f52da.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/20.b8f49220.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/21.d079e376.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/22.33af8532.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/23.38ab782f.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/24.c5b7b281.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/25.f34f40eb.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/26.7b4dd73a.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/27.689f98b7.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/28.64b2966c.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/29.3f3e1b1e.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/30.0b01adc4.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/31.e2e31145.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/32.83350ac7.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/33.3499a95e.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/34.55cea353.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/35.0acee0e8.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/36.db8f0a5a.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/37.b5579314.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/38.07077a63.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/39.d8b17117.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/40.188f4958.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/41.fa57a46f.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/42.44721956.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/43.c92df929.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/44.760da1af.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/45.8b915142.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/46.0c28cd66.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/47.6ac52257.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/48.ef0d1147.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/49.a5d7ff26.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/50.5011bfa6.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/51.93e56519.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/52.01f97a1f.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/53.b93ba7c5.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/54.b5ae8e1e.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/55.957f7479.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/56.9dd0cf1e.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/57.83bb2320.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/58.efdebfa5.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/59.a0e5b9a3.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/60.d7753119.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/61.152fe94f.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img src="assets/img/media/62.d6ced3eb.jpeg"
                                    alt="..." class="img-fluid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3></h3>
                                    <p>...</p>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div id="registro" class="section pt-o">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="text-center">¿Que traer al campamento?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"><img alt="..." class="img-rounded img-fluid"
                        src="assets/img/media/62.d6ced3eb.jpeg" style="width: 100%;"></div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="">

                            <div class="text-center">Aquí un listado de las cosas que debes de traer al campamento! , te
                                ayudamos a marcar la lista!</div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><input type="checkbox"
                                                    aria-label="Checkbox for following text input"></div>
                                        </div><span class="form-control">Biblia</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><input type="checkbox"
                                                    aria-label="Checkbox for following text input"></div>
                                        </div><span class="form-control">Cuaderno para apuntar</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><input type="checkbox"
                                                    aria-label="Checkbox for following text input"></div>
                                        </div><span class="form-control">Almohada</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><input type="checkbox"
                                                    aria-label="Checkbox for following text input"></div>
                                        </div><span class="form-control">Ropa de deporte</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><input type="checkbox"
                                                    aria-label="Checkbox for following text input"></div>
                                        </div><span class="form-control">Mochila</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><input type="checkbox"
                                                    aria-label="Checkbox for following text input"></div>
                                        </div><span class="form-control">Cubrebocas</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><input type="checkbox"
                                                    aria-label="Checkbox for following text input"></div>
                                        </div><span class="form-control">Gel sanitizante</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><input type="checkbox"
                                                    aria-label="Checkbox for following text input"></div>
                                        </div><span class="form-control">Ropa para una semana</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><input type="checkbox"
                                                    aria-label="Checkbox for following text input"></div>
                                        </div><span class="form-control">Utensilios de higiene personal</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><input type="checkbox"
                                                    aria-label="Checkbox for following text input"></div>
                                        </div><span class="form-control">Toalla</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><input type="checkbox"
                                                    aria-label="Checkbox for following text input"></div>
                                        </div><span class="form-control">Dinero extra para tienda</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><input type="checkbox"
                                                    aria-label="Checkbox for following text input"></div>
                                        </div><span class="form-control">Ganas de aprender y divertirte</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer-->