<div class="row" id="generic_price_table">
    <div *ngFor="let costo of campamento.costos" class="col-md-4">
        <div class="generic_content clearfix">
            <div class="generic_head_price clearfix">
                <div class="generic_head_content clearfix">
                    <div class="head_bg"></div>
                    <div class="head">
                        <span>{{costo.descripcion}}</span>
                    </div>
                </div>
                <div class="generic_price_tag clearfix">
                    <span class="price">
                        <span class="currency">{{costo.cantidad | currency }}</span>
                        <span class="month">/{{costo.divisa}}</span>
                    </span>
                </div>
            </div>
            <div class="generic_feature_list">
                <ul>
                    <li *ngFor="let incluye of costo.incluye"><span>{{incluye}}</span></li>
                </ul>
            </div>
        </div>
    </div>

</div>