<!--BLOCK ROW START-->
<div class="row" id="generic_price_table">
    <div class="col-md-4">

        <!--PRICE CONTENT START-->
        <div class="generic_content clearfix">

            <!--HEAD PRICE DETAIL START-->
            <div class="generic_head_price clearfix">

                <!--HEAD CONTENT START-->
                <div class="generic_head_content clearfix">

                    <!--HEAD START-->
                    <div class="head_bg"></div>
                    <div class="head">
                        <span>Nacional</span>
                    </div>
                    <!--//HEAD END-->

                </div>
                <!--//HEAD CONTENT END-->

                <!--PRICE START-->
                <div class="generic_price_tag clearfix">
                    <span class="price">
                        <span class="sign">$</span>
                        <span class="currency">2,300</span>
                        <span class="cent">.00</span>
                        <span class="month">/MXN</span>
                    </span>
                </div>
                <!--//PRICE END-->

            </div>
            <!--//HEAD PRICE DETAIL END-->

            <!--FEATURE LIST START-->
            <div class="generic_feature_list">
                <ul>
                    <li><span>Hospedaje</span></li>
                    <li><span>Comidas</span></li>
                    <li><span>Clases</span></li>
                    <li><span>Talleres</span></li>
                    <li><span>Playera</span></li>
                    <li><span>Materiales</span></li>
                </ul>
            </div>
            <!--//FEATURE LIST END-->

            <!--BUTTON START--
            <div class="generic_price_btn clearfix">
                <a class="" routerLink="">Registrarse</a>
            </div>
            !--//BUTTON END-->

        </div>
        <!--//PRICE CONTENT END-->

    </div>

    <div class="col-md-4">

        <!--PRICE CONTENT START-->
        <div class="generic_content clearfix">

            <!--HEAD PRICE DETAIL START-->
            <div class="generic_head_price clearfix">

                <!--HEAD CONTENT START-->
                <div class="generic_head_content clearfix">

                    <!--HEAD START-->
                    <div class="head_bg"></div>
                    <div class="head">
                        <span>International fee</span>
                    </div>
                    <!--//HEAD END-->

                </div>
                <!--//HEAD CONTENT END-->

                <!--PRICE START-->
                <div class="generic_price_tag clearfix">
                    <span class="price">
                        <span class="sign">$</span>
                        <span class="currency">180</span>
                        <span class="cent">.00</span>
                        <span class="month">/USD</span>
                    </span>
                </div>
                <!--//PRICE END-->

            </div>
            <!--//HEAD PRICE DETAIL END-->

            <!--FEATURE LIST START-->
            <div class="generic_feature_list">
                <ul>
                    <li><span>Lodgment</span></li>
                    <li><span>Meals</span></li>
                    <li><span>Lecture</span></li>
                    <li><span>Workshops</span></li>
                    <li><span>T-shirt</span></li>
                    <li><span>Materials</span></li>
                </ul>
            </div>
            <!--//FEATURE LIST END-->

            <!--BUTTON START--
            <div class="generic_price_btn clearfix">
                <a class="" href="">Sign up</a>
            </div>
            !--//BUTTON END-->

        </div>
        <!--//PRICE CONTENT END-->

    </div>
</div>
<!--//BLOCK ROW END-->