<header class="mb-auto">
    <div class="container-fluid">
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" aria-current="page" routerLink="/"> <i class="bi bi-box-arrow-left"></i> Regresar</a>
            <a class="nav-link" routerLink="/staff"><i class="bi bi-house"></i></a>
            <a class="nav-link" routerLink="/inscripciones"><i class="bi bi-card-checklist"></i> Inscripciones</a>
            <a class="nav-link" routerLink="/hospedaje"><i class="bi bi-h-square"></i> Hospedaje</a>
            <a class="nav-link" routerLink="/contabilidad"><i class="bi bi-wallet"></i> Contabilidad</a>
            <a class="nav-link" routerLink="/campamentos"><i class="bi bi-tornado"></i> Campamentos</a>
            <a class="nav-link" (click)="cerrarSesion()"><i class="bi bi-door-closed"></i> Salir</a>
            <a class="nav-link d-flex" routerLink="/cuenta">
                <app-user-info></app-user-info>
            </a>
        </nav>
    </div>
</header>
<hr>