<ng-container *ngIf="loadingService.isLoading$ | async">
  <i class="loading">
    Loading
    <img alt="..." src="/assets/img/main/fireloading.gif" style="width: 18em; margin-top: 15em;">
  </i>
</ng-container>

<div class="app-shell">
  <app-navbar *ngIf="!(authService.currentUser$ | async)"></app-navbar>
  <app-navbar-seguimiento *ngIf="(authService.currentUser$ | async)"></app-navbar-seguimiento>
  <main class="app-main">
    <router-outlet></router-outlet>
  </main>
  <app-footer></app-footer>
</div>