<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center">¿Que traer al campamento?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"><img alt="..." class="img-rounded img-fluid" src="assets/img/media/62.d6ced3eb.jpeg"
                style="width: 100%;"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="">

                    <div class="text-center">Aquí un listado de las cosas que debes de traer al campamento! , te
                        ayudamos a marcar la lista!</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><input type="checkbox"
                                            aria-label="Checkbox for following text input"></div>
                                </div><span class="form-control">Biblia</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><input type="checkbox"
                                            aria-label="Checkbox for following text input"></div>
                                </div><span class="form-control">Cuaderno para apuntar</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><input type="checkbox"
                                            aria-label="Checkbox for following text input"></div>
                                </div><span class="form-control">Almohada</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><input type="checkbox"
                                            aria-label="Checkbox for following text input"></div>
                                </div><span class="form-control">Ropa de deporte</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><input type="checkbox"
                                            aria-label="Checkbox for following text input"></div>
                                </div><span class="form-control">Mochila</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><input type="checkbox"
                                            aria-label="Checkbox for following text input"></div>
                                </div><span class="form-control">Ropa para una semana</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><input type="checkbox"
                                            aria-label="Checkbox for following text input"></div>
                                </div><span class="form-control">Utensilios de higiene personal</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><input type="checkbox"
                                            aria-label="Checkbox for following text input"></div>
                                </div><span class="form-control">Toalla</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><input type="checkbox"
                                            aria-label="Checkbox for following text input"></div>
                                </div><span class="form-control">Dinero extra para tienda</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><input type="checkbox"
                                            aria-label="Checkbox for following text input"></div>
                                </div><span class="form-control">Ganas de aprender y divertirte</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>