<div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
    <app-navbar></app-navbar>
</div>
<div class="container section">
    <div class="row">
        <div class="col">
            <div class="form-group">
                * Solo funciona con staff, seguimiento, o administradores de Reto Urbano
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Ingresa tu email" [(ngModel)]="email">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon1"
                        (click)="recovery()">Recuperar</button>
                </div>
            </div>
            <div *ngIf="visibleAlert" class="alert alert-danger" role="alert">
                {{mensaje}}
            </div>
        </div>
    </div>
</div>