<hr>
<footer class="footer footer-black footer-white">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a routerLink="/terminos-y-condiciones">Terminos y condiciones</a></li>
                    <li><a href="http://www.ywampachuca.org" target="_blank">YWAM Pachuca</a></li>
                    <li><a href="https://www.facebook.com/jucumpachuca" target="_blank">Facebook</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto"><span class="copyright">© 2024, made with <i class="bi bi-heart-fill"></i>
                    by Neitan Worales <i class="bi bi-code-slash"></i></span></div>
        </div>
    </div>
</footer>