<header class="mb-auto">
    <div class="container-fluid">
        <a class="navbar-brand nav-link d-inline-block align-text-middle" href="#">
            <img src="assets/img/main/logojucumpachuca_black.png" alt="" width="50"
                class="d-inline-block align-text-middle">
            RETO URBANO
        </a>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link" aria-current="page" routerLink="/">Home</a>
            <a class="nav-link" routerLink="/registro">Inscripcion/Register</a>
            <a class="nav-link" routerLink="/info">+Info campamento</a>
            <a class="nav-link" routerLink="/staff">Staff</a>
        </nav>
    </div>
</header>