.section {
    margin-top: 8em;
}

.form-group {
    margin-bottom: 1em;
}

label {
    text-align: left;
}

.fade {
    transition: opacity .15s linear;
}

.right {
    position: absolute;
    right: 5px;
}

.lista-memory {
    margin-bottom: 2em;
}

.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 6000;
    text-align: center;
}

.supermodal {
    z-index: 7000;
}